{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <main>
            {{ form_start(formulaire) }}
            <div class="row">


                <div class="col-sm-12 col-lg-2">
                    <h3>Mes infos</h3>
                    <div id="rosecompte">
                        <label for="prénom">Prénom</label><br/>
                        {{ form_errors(formulaire.prenominfos) }}
                        {{ form_widget(formulaire.prenominfos) }}
                            <label for="nom">Nom</label><br/>
                        {{ form_errors(formulaire.nominfos) }}
                        {{ form_widget(formulaire.nominfos) }}
                            <label for="tel">Tél</label><br/>
                        {{ form_errors(formulaire.telephone) }}
                        {{ form_widget(formulaire.telephone) }}
                            <label for="Email">E-mail</label><br/>
                        {{ form_errors(formulaire.emailinfos) }}
                        {{ form_widget(formulaire.emailinfos) }}
                            <label for="mdp">Mot de passe</label><br/>
                        {{ form_errors(formulaire.mdpinfos) }}
                        {{ form_widget(formulaire.mdpinfos) }}
                            <label for="cmdp">Confirmation du mot de passe</label><br/>
                        {{ form_errors(formulaire.confirmmdpinfos) }}
                        {{ form_widget(formulaire.confirmmdpinfos) }}
                    </div>
                </div>
                <div class="offset-lg-1 col-sm-12 col-lg-5">
                    <h3>Mon Tableau de bord</h3>
                    <div id="rosetableau">
                        <p id="bienvenue">Bonjour, @UTILISATEUR !
                            Depuis le tableau de bord 'Mon compte', vous pouvez avoir un aperçu de vos récentes activités et mettre à jour les informations de votre compte. Sélectionnez un cadre sur cette page pour voir ou modifier les informations.</p>
                        <h4>Mes infos de contact</h4>
                        <p>Nom</p>
                        <p>Prénom</p>
                        <p>E-mail</p>
                        <p>Tél</p>
                        <h4>Carnet d'adresses</h4>
                        <h5>Adresse de livraison</h5>
                        <div id="gauche">
                            <p>Nom</p>
                            <p>Prénom</p>
                            <p>Adresse</p>
                        </div>
                        <div id="droite">
                            <p>Ville</p>
                            <p>Code postal</p>
                        </div>
                        <h5>Adresse de facturation</h5>
                        <div id="gauche">
                            <p>Nom</p>
                            <p>Prénom</p>
                            <p>Adresse</p>
                        </div>
                        <div id="droite">
                            <p>Ville</p>
                            <p>Code postal</p>
                        </div>




                    </div>
                </div>

                <div class="offset-lg-1 col-sm-12 col-lg-3">
                    <h3>ADRESSE DE LIVRAISON</h3>
                    <div id="vert">

                        <article>
                                <label for="prénom">Prénom</label><br/>
                                {{ form_errors(formulaire.prenomlivraison) }}
                                {{ form_widget(formulaire.prenomlivraison) }}
                            <label for="nom">Nom</label><br/>
                            {{ form_errors(formulaire.nomlivraison) }}
                            {{ form_widget(formulaire.nomlivraison) }}
                            <label for="adresse">Adresse de livraison</label><br/>
                            {{ form_errors(formulaire.livraison) }}
                            {{ form_widget(formulaire.livraison) }}

                                <label for="cp">Code Postal</label><br/>
                            {{ form_errors(formulaire.cplivraison) }}
                            {{ form_widget(formulaire.cplivraison) }}
                                <label for="ville">Ville</label><br/>
                            {{ form_errors(formulaire.villelivraison) }}
                            {{ form_widget(formulaire.villelivraison) }}

                        </article>
                    </div>
                </div>
            </div>
            <div class="row">

                <div id="vertbutton" class="col-sm-12 col-lg-2">
                    <button type="submit" id="button" value="Mettre à jour les infos">
                        {{ form_widget(formulaire.envoyer, { 'label': 'Mettre à jour les infos' }) }}
                    </button>
                </div>
                <div class="offset-lg-1 col-sm-12 col-lg-5">
                    <h3 id="historique">Historique des mes commandes</h3>
                    <div id="rose">
                        <hr/>
                        <h3>commande #1</h3>
                        <p>Détail de ma commande</p>
                        <hr/>
                        <h3>Facture #1</h3>
                        <p>Détail de ma facture #1</p>
                        <hr/>


                    </div>
                </div>
                <div class="offset-lg-1 col-sm-12 col-lg-3">
                    <h3>ADRESSE DE FACTURATION</h3>
                    <div id="vertfacture">

                        <article>
                                <label for="prénom">Prénom</label><br/>
                            {{ form_errors(formulaire.prenomfacturation) }}
                            {{ form_widget(formulaire.prenomfacturation) }}
                            <label for="nom">Nom</label><br/>
                            {{ form_errors(formulaire.nomfacturation) }}
                            {{ form_widget(formulaire.nomfacturation) }}

                                <label for="adresse">Adresse de facturation</label><br/>
                            {{ form_errors(formulaire.facturation) }}
                            {{ form_widget(formulaire.facturation) }}
                            <label for="cp">Code Postal</label><br/>
                            {{ form_errors(formulaire.cpfacturation) }}
                            {{ form_widget(formulaire.cpfacturation) }}

                                <label for="ville">Ville</label><br/>
                            {{ form_errors(formulaire.villefacturation) }}
                            {{ form_widget(formulaire.villefacturation) }}
                        </article>
                    </div>
                </div>
            </div>
            {{ form_end(formulaire) }}
        </main>
    </div>
{% endblock %}