{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}



    <h1 id="titlinscript">S'inscrire</h1>


<form  action="" method="post"></form>
    <div id="inscform" class="form-group">

    {{ form_start(formulaire) }}


    <div>
        <label for="mdp"><h5>Nom</h5></label>
        {{ form_errors(formulaire.nom) }}
        {{ form_widget(formulaire.nom) }}
    </div>


    <div>
        <label for="mdp"><h5>Prenom</h5></label>
        {{ form_errors(formulaire.prenom) }}
        {{ form_widget(formulaire.prenom) }}
    </div>


    <div>
        <label for="mdp"><h5>Pseudo</h5></label>
        {{ form_errors(formulaire.pseudo) }}
        {{ form_widget(formulaire.pseudo) }}
    </div>


    <div>
        <label for="mdp"><h5>Adresse</h5></label>
        {{ form_errors(formulaire.adresse) }}
        {{ form_widget(formulaire.adresse) }}
    </div>


        <div>

            <label for="zip"><h5>Code Postal</h5></label>
            {{ form_errors(formulaire.zip) }}
            {{ form_widget(formulaire.zip) }}
        </div>

        <div>

            <label for="mdp"><h5>Email</h5></label>
            {{ form_errors(formulaire.email) }}
            {{ form_widget(formulaire.email) }}
        </div>

    <div>
        <label for="mdp"><h5>Mot de Passe</h5></label>
        {{ form_errors(formulaire.password) }}
        {{ form_widget(formulaire.password
        ) }}
    </div>

        <div>

            <label for="STATUT"><h5>Statut</h5></label>
        {{ form_errors(formulaire.statut) }}
        {{ form_widget(formulaire.statut) }}
    </div>

        <div>
        <label for="interet"><h5>Centre d'intérêt</h5></label>
    {{ form_errors(formulaire.interet) }}
    {{ form_widget(formulaire.interet) }}
    </div>

    <div>
    <label for="newsletter"><h5>Newletter</h5></label>
    {{ form_errors(formulaire.newsletter) }}
    {{ form_widget(formulaire.newsletter) }}
    </div>

    <div>
    <label for="newsletter"><h5>Perimètre autorisé en Km</h5></label>
    {{ form_errors(formulaire.perimetre_activite) }}
    {{ form_widget(formulaire.perimetre_activite) }}
    </div>


    {{ form_end(formulaire) }}

    </div>

{% endblock %}

